@charset "utf-8";
/*
 * @title 变量
 * @desc 基本每个界面都会用到
 * @author VictoriaZhang
 * @datetime 2015-12-1 9:41:34
 */

$cw_main:1200px;	//container-width容器宽度
$cw_maximum:1920px;	//最大宽度，上传banner图片等的宽度


$margin_bottom:60px;
$main_border:1px solid #dedede;
$bc_main:#dedede;	//边框的主要颜色
/* 
 * 字体颜色
 */
$c_em:#000; // 强调字体颜色
$c_main: #333; // 主要字体主颜色
$c_light: #666; // 次要字体颜色
$c_lighter: #999; // 更轻的字体颜色咯  
$c_highlight:#b4802f; // 高亮字体颜色
$c_warn:#fa4b4b;	// 警告颜色
//202020; 首页商品列表展示处：商品名称
//595959; 首页商品列表展示处：商品描述

/* 
 * 字体大小
 * fs: font-size
 */
$fs_main:14px;
// 22px; 首页商品列表展示处RENLAN显示
// 60px; 首页商品列表展示处：商品名称展示

/*
 * 字体粗细
 * ft:font-weight
 */
$ft-bold:bold;
$ft-normal:normal;



/*
 * z-index的值
 */
$z_overlay:999;	// 弹出窗遮罩层的z-index值
$z_popWrap: $z_overlay + 1;	// 弹出面板（弹出遮罩上的一层）的z-index，需大于遮罩层
$z_footerMenu: $z_overlay - 1; // footer-menu的z-index，需小于遮罩层的z-index